# Dependencies (Downloads 100MB+ of files, do not upload!)
node_modules/

# Environment Variables (Contains passwords/secrets)
.env

# System Files
.DS_Store
Thumbs.db

# Build Artifacts (If you build React later)
dist/
build/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log